{% extends "base.html" %} {% block head %}
<title>Products</title>
{% endblock %} {% block content %}
<div class="block-content">
<table>
  <caption>
    Products
  </caption>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Available</th>
  </tr>
  {% for product in products %}
  {% if current_user.email==product.owner %}
  <tr>
    <td>{{ product.pid }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.available }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
</div>
{% endblock %}
